/* style.css */

body{
  background: rgb(245,245,245);
  color: green;
  font-size: 25px;
  font-family: Oswald;
}
h1{
  font-family: Oswald;
  color: red;
  font-weight: lighter;
  font-size: 10px;
}
h2 {
  font-family: Oswald;
  color: pink;
  font-weight: lighter;
  font-size: 8px;
}
a {
  color: yellow;
}
a:hover {
  text-decoration: none;
  color: purple;
}
.oswald-<uniquifier> {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.Rami{
  width: 300px;
}

